<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-10 mt-4 mx-auto"hsc>
        <h1 class="app-name"><b>This is Your Fkn To-Do List!</b></h1>
        <hr>
        <h4 class="welcome-msg">You ever jot something down on your regular old to-do list and ignore it completely without any repercussions?</h4>
        <br>
        <h4 class="welcome-msg">Well those days are over, baby!</h4>
        <br>
        <h4 class="welcome-msg">This is <span class="app-name">Your Fkn To-Do List</span> and you better believe that there <u>WILL BE CONSEQUENCES</u> if you neglect to complete your goals!</h4>
        <br>
        <h4 class="app-name">"O.M.G. I'm so scared! What do you mean!?!"</h4>
        <br>
        <h4 class="welcome-msg">If you fail to see your goals come to fruition, you're going to send a blast email to the people you love, quickly outing yourself as a failure, a chump, a fraud: </h4>
        <div class="quotes-container">
          <p class="m-0">"Hey best friend, look how lazy and useless I can be!"</br>
          "Hey mom, sorry but you raised a loser. I'm a loser. Love ya!"</br>
          "Hey world, look how bad I am at following through!"</p>
        </div>
        <hr>
        <h4 class="welcome-msg">So sign up today and get your life back on track!</h4>
        <a href="/signup"><button type="submit" class="signupBtn">Sign Up</button></a>
        <a href="/todos"><button type="submit" class="todosBtn">See Your To-Dos</button></a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>