<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is Your Fkn To Do List!</h2>
        <hr>
        <h4>You ever put something on your regular old To Do List and ignore it without any repercussions?</h4>
        <h4>Well those days are over, baby! This is Your Fkn To Do List and you better believe that there WILL BE CONSEQUENCES if you neglect to complete your goals!</h4>
        <h4>"Omg I'm so scared! What do you mean!?!"</h4>
        <h4>If you fail to see your goals come to fruition, you're gonna Tweet out your failure to world to see! This means you'll be shamed in front of your best friend, your mom, your faithful animal companions who love you unconditionally, even Kim Kardashian will know what a POS you are!</h4>
        <h4>So sign up today and get your life back on track!</h4>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
